* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    background-size: cover;
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
}

header h1 {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-image: url('galaxy.jfif');
}

nav li {
    padding: 15px;
}

nav ul li a {
    color: white; 
    text-decoration: underline; 
}

nav ul li a:hover {
    color: red; }

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

main .content {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 20px;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}
